
.invoice_header {
  text-align: center;
}

.text_field {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.date_field {
  width: 19%;
  border: 1px solid rgb(0, 0, 0);
  border-radius:7px;
  margin-left: 2%;
}

#inv_number {
  width: 19%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  
}

.Table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 1rem;
    border: none;
    background-color: #1d4ed8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    justify-content: center;
    justify-items: center;
}

.btn-submit {
  margin-top: 5rem;
    border: none;
    background-color: #16983f;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: block;
}

.btn-container {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.app-name {
  justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 245, 245);
    padding-top: 3rem;
    padding-bottom: 2rem;
}